h1{
    margin: 2rem;
    text-align: center;
    background-color: gray;
    color: white;
    padding: 2rem;
}

body{
    background-color: lightgray ;
}

#opciones{
    margin: 2rem;
    padding: 3rem;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

button{
    width: 6rem;
    height: 6rem;
    font-size: 4rem;
}

#descripcion{
    margin: 2rem;
    padding: 3rem;
    background-color: white;
}